.Error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    text-align: center;
}

.Icon {
    width: 40rem;
    padding: 5rem;
}

.Text {
    font-size: 2.25rem;
    font-weight: 500;
}
